.vs
debug
release
Win32
x64
GISystemDeveloper.aps
GISystemDeveloper.pro
GISystemDeveloper.pro.user
GISystemDeveloper.rc
GISystemDeveloper.sdf
GISystemDeveloper.sln
GISystemDeveloper.VC.db
GISystemDeveloper.vcxproj
GISystemDeveloper.vcxproj.filters
GISystemDeveloper.vcxproj.user
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
PropertySheet.props
*.err
*.log
